body {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}

img {
    padding: 10px
}

.btn {
    margin-top: 10px;
}

.game-btn {
    margin: 10px;
}

button {
    border-radius: 5px;
}

p {
    background: rgb(67, 67, 67);
}